[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=justin
Group=justin
WorkingDirectory=/home/justin/fastapi/src/
Environment="PATH=/home/justin/fastapi/venv/bin"
EnvironmentFile=/home/justin/.env
ExecStart=/home/justin/fastapi/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target